body{
	background-color: #EEE;
}
#container{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
#header{
	background-color: #66CCFF;
	color:white;
	text-align: center;
	padding: 10px;
}
#content{
	padding: 10px;
}
#nav{	
	float: left;
	color: green;
	line-height: 2;
	letter-spacing: 1px;
}
#main{	
	float: center;
}
#footer{
	clear: all;
}
#nav ul{
	list-style-type: none;
	padding: 0px;
}
h1{margin: 0;}

#maingrid{
	display:grid;
	grid-template-columns: repeat(4, 1fr);	
	padding: 1em;
	grid-gap: 1em;
}

#maingrid > div{
	text-align: center;
	font-size: 25px;
	color: #66ccff;	
    background:white;
    /*border-style: inset;*/
 }

 #footergrid{
 	display:grid;
 	color: white;
 	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
 	background-color: #66CCFF;
	grid-gap: 0em;
	padding: 1em;
	text-align: left;
 }

