body{
	background-color: #EEE;
}
header{
	background-color: #66ccff;	
	color:white;
	text-align: center;
	padding: 5px;	
}
h1{
	font-size: 3.5em;
}

#nav{	
	float: left;	
	background-color: #99ff99;	
	line-height: 2;
	letter-spacing: 1px;
	height: 46em;

}
#nav li{
	list-style-type: none;
	padding: 10px;
}
 
#maingrid {	
	display: grid;			
	padding: 10px;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;		
	background-color: white;
	height: 45em;
}
#maingrid > figure{	
	text-align: center;
	font-size: 25px;
	color: #66ccff;	
    background-color :white;
    text-underline-position: center;
 }
footer{ 	
 	color: black; 	
 	background-color: #ffff66;	
	padding: 5px;
	height: 2.5em;
 }
 footer li{
	list-style-type: none;
	margin-right: 15px;
	float: left;
}
 