body{
	background-color: #EEE;
}
#container{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
#header h1{
	background-color: #66ccff;	
	color:white;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#content{
	padding: 10px;
	padding-right: 10px;
}
#nav{	
	height: 500px;
	background-color: #99ff99;
	padding-left: 10px;
	padding-right: 20px;
	float: left;
	line-height: 2;
	letter-spacing: 1px;
}

#nav ul{
	list-style-type: none;
	padding: 0px;
}
h1{margin: 0;}

#maingrid{
	display:grid;
	grid-template-columns: repeat(4, 1fr);	
	padding: 10px;
	grid-gap: 10px;
	background-color: white;
}

#maingrid > div{
	text-align: center;
	font-size: 25px;
	color: #66ccff;	
    background:white;
    text-underline-position: center;
 }

 #footergrid{
 	display:grid;
 	color: black;
 	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
 	background-color: #ffff66;
	grid-gap: 0em;
	padding: 10px;
	text-align: left;
 }

